<nav>
    <button id="back"><a href="/users/<%=user._id%>/workouts"><i class="fa-solid fa-left-long"></i></a></button>
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/auth/sign-out"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</nav>