<!--views/partials/_backHome-->

<nav>
    <button type="button" onclick="window.history.back();"><i class="fa-solid fa-left-long"></i></button>
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/auth/sign-out"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</nav>