<!--views/partials/_backHome-->

<nav>
    <button style="font-size: x-small;" type="button" onclick="window.history.back();">Back</button>
    <a href="/">Home</a>
    <a href="/auth/sign-out">Sign Out</a>
</nav>