<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Workout</title>
</head>

<body>
    <form action="/users/<%= user._id %>/workouts" method="POST">
        <div> <button type="button" onclick="window.history.back();">Back</button>
             <button type="submit">Add</button>
        </div>

        <div>
            <label for="name">Name of Workout:</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="notes">Notes:</label>
            <textarea name="notes" id="notes"></textarea>
        </div>
        <div>
            <label for="duration">Duration of Workout:</label>
            <input type="number" name="duration" id="duration" placeholder="In minutes...">
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" name="date">
        </div>
        <div>
            <label for="exercises"></label>
        </div>
       
    </form>

</body>

</html>