<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise List</title>
</head>

<body>
    <h1>Exercises</h1>
    <form action="/users/<%= user._id %>/workouts/" method="POST">
        <div> <button type="button" onclick="window.history.back();">Back</button>
            <button type="submit">Add</button>
        </div>
        <div>
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="weights">Weights</option>
                <option value="cardio">Cardio</option>
            </select>
        </div>
        <label for="name">Exercise Name:</label><br>
        <input type="text" name="name" required><br>

        <label for="reps">Reps:</label><br>
        <input type="number" name="reps"><br>

        <label for="sets">Sets:</label><br>
        <input type="number" name="sets"><br>

        <label for="duration">Duration (minutes, for cardio):</label><br>
        <input type="number" name="duration"><br>

        <label for="notes">Notes:</label><br>
        <textarea name="notes"></textarea>
    </form>


</body>

</html>