<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Exercise List</title>
  </head>

  <body>
    <h1 id="new">Exercises</h1>
    <div id="new-ex-body">
      <form
        action="/users/<%= user._id %>/workouts/<%=workouts._id%>/"
        method="POST"
      >
        <div id="new-btns">
          <button type="button" onclick="window.history.back();">
            <i class="fa-solid fa-left-long"></i>
          </button>
          <button type="submit"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div id="cat-field">
          <label for="category">Category:</label><br>
          <select name="category" id="category">
            <option value="weights">Weights</option>
            <option value="cardio">Cardio</option>
          </select>
        </div>
        

        <div class="form-buttons">
            <label for="name">Exercise Name:</label>
            <input type="text" name="name" required />
        </div>

        <div class="form-buttons">
            <label for="reps">Reps:</label>
            <input type="number" name="reps" />
        </div>

        <div class="form-buttons">
            <label for="sets">Sets:</label>
            <input type="number" name="sets" />
        </div>

        <div class="form-buttons">
            <label for="duration">Duration (minutes, for cardio):</label><br />
            <input type="number" name="duration" />
        </div>

        <div class="form-buttons">
            <label for="notes">Notes:</label>
            <textarea id="textarea" name="notes"></textarea>
        </div>
      </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const catSelect = document.getElementById("category");
            
            const repsInput = document.querySelector('input[name="reps"]');
            const setsInput = document.querySelector('input[name="sets"]');
            const durationInput = document.querySelector('input[name="duration"]');

            const repsField = repsInput.parentElement;
            const setsField = setsInput.parentElement;
            const durationField = durationInput.parentElement;

            function updateFormFields() {
                const category = catSelect.value;

                if (category === "weights") {
                    repsField.style.display = "block";
                    setsField.style.display = "block";
                    durationField.style.display = "none";
                    durationInput.value = "";
                } else if (category === "cardio") {
                    repsField.style.display = "none";
                    setsField.style.display = "none";
                    durationField.style.display = "block";

                    setsInput.value = "";
                    repsInput.value = "";
                  }
            }

            updateFormFields();

            catSelect.addEventListener("change", updateFormFields);
        })
    </script>
  </body>
</html>
